<div class="index">
<h1>コメントが流れていく例のアレっぽいやつ</h1>

  <p>テスト用の部屋に入る → <%= link_to 'test room', 'rooms/TESTROOM' %></p>
  <p>新しい部屋を作る → <%= link_to 'new room', rooms_path %></p>

  <h2>遊び方</h2>
  <ol>
    <li>テスト用の部屋か、新しい部屋に入る</li>
    <li>モバイル：QRコードから投稿フォームへアクセス<br/>
      PC：左下のリンクから投稿フォームへアクセス（新しいウィンドウで開いて下さい）
    </li>
    <li>投稿フォームから入力したコメントが、メイン画面にアレっぽく流れます</li>
  </ol>

  <h2>なにに使うの</h2>

  <ul>
    <li>勉強会でプロジェクターに映して、発表内容にコメントをつける</li>
    <li>カラオケ中のコミュニケーションツールとして</li>
  </ul>

  <h2>注意点</h2>

  <p>部屋の同時使用数に制限があるため、込んでいると使えない場合があります</p>

  <h2>作った人</h2>

  <p><%= link_to 'twitter @_shimada', 'https://twitter.com/_shimada' %> </p>
</div>