// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,body {
  background-color: black;
  color: white;
  font-family: Sans-serif;
  height: 100%;
  margin: 0;
}

#chat-screen {
  position: relative;
  width: 98%;
  height: 90%;
  margin: 10px;
  overflow: hidden;
}

#template {
  display: none;
}

.comment {
  color: white;
  position: absolute;
  white-space: nowrap;
  font-size: 28pt;
  font-weight: bold;
  text-shadow: -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
}

div.qrcode {
  position: absolute;
  right: 0px;
  bottom: 0px;

  table {
    border-width: 10px;
    border-style: solid;
    border-color: white;
    border-collapse: collapse;
    background-color: #ffffff;

    td {
      border-width: 0;
      border-style: none;
      border-collapse: collapse;
      padding: 0;
      margin: 0;
    }
    td.size5 { width: 5px; height: 5px; }
    td.size4 { width: 4px; height: 4px; }
    td.size3 { width: 3px; height: 3px; }
    td.size0 { width: 0px; height: 0px; }

    td.black { background-color: #000; }
    td.white { background-color: #fff; }
  }
}
p.navi {
  margin: 1em;;
  a {
    color: white;
    text-decoration: underline;
  }
}

.index {
  background-color: white;
  color: black;
  padding: 1em;
  height: 100%;
}
